{% extends 'base.html' %}


{% block body_block %}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6" align="left">
            <h1><i class="fa fa-user"></i>
                <a href="{% url 'customers:customer_list'%}">Customers</a>
                <a href="{% url 'customers:customer_create' %}"><i class="fa fa-plus black"></i></a>
            </h1>
            <a href="{% url 'customers:deactivated_customer_list'%}">(Show deactivated customers)</a>
        </div>

        <div class="col-md-6" align="right">
            <form class="form-inline float-right" action="{% url 'customers:customer_search' %}">
                <input class="form-control mr-sm-2" name="keyword" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-light" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<div class="jumbotron">
    {% for customer in customer_list %}
    {% if customer.c_active %}
    <h3><a href="{% url 'customers:customer_orders' pk=customer.id %}">{{customer.full_name}}</a></h3>
    {% else %}
    <h3 class="hidden-content"><a href="{% url 'customers:customer_orders' pk=customer.id %}">{{customer.full_name}}</a></h3>
    {% endif %}
      {% if forloop.counter < customer_list|length %}
    <hr class="my-4">
    {% endif %}
    {% endfor %}
</div>


{% if is_paginated %}
<nav class="custom-pagination" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" style="color: black;">Previous</a>
        </li>
        {% endif %}
        {% for object in page_obj.paginator.page_range %}

        <li class="page-item"><a class="page-link" style="color: black;"
                                 href="{% url 'customers:customer_list' %}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" style="color: black;">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}