{% extends 'base.html' %}

{% block body_block %}

<div class="jumbotron">
    <h1>Deactivate {{product.name}}?</h1>
    <h3>The product will no longer be able to be ordered and won't be shown in Search Results!</h3><br>

    <form method="post" action="{% url 'products:product_deactivate' pk=product.pk%}">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Deactivate">
        <a class="btn" href="{% url 'products:product_details' pk=product.pk %} ">Cancel</a>
    </form>
</div>

<div class="jumbotron">
    <h1>Permanently Delete {{product.name}}?</h1>
    <h3>All orders will be lost!</h3><br>

    <form method="post" action="{% url 'products:product_delete' pk=product.pk%}">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete">
        <a class="btn" href="{% url 'products:product_details' pk=product.pk %} ">Cancel</a>
    </form>
</div>


{% endblock %}
