{% extends 'base.html' %}


{% block body_block %}

{% if product.p_active == False %}
<div class="jumbotron">
        <div align="center">
            <h4><strong>Warning! This Product is deactivated. </strong></h4>
        <form action="{% url 'products:product_reactivate' pk=product.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-dark" aria-hidden="true"
                        onclick="return confirm('Reactivate {{product.name}}?');">Activate
                </button>
        </form>
        </div>
</div>
{% endif %}



<div class="jumbotron {% if product.p_active == False %} hidden-profile {% endif %}">
    <div class="row">
        <div class="col-md-6" align="left">
            <h1>{{product.name}}</h1>
        </div>
        <div class="col-md-6" align="right">
            {% if user.is_authenticated %}
            <h1>
                <a href="{% url 'products:product_update' pk=product.id %}"><span
                        class="fa fa-pencil"
                        aria-hidden="true"></span></a>
                <a href="{% url 'products:product_deactivate' pk=product.id %}"><span
                        class="fa fa-trash"
                        aria-hidden="true"></span></a>
            </h1>
            {% endif %}
        </div>
    </div>
    <h4>Description: {{product.description}}</h4>
    <h4>Price: {{product.price}} $</h4>
</div>


<div class="jumbotron {% if product.p_active == False %} hidden-profile {% endif %}">
    <div class="row">
        <div class="col-md-6" align="left">
            <h2><i class="fa fa-stats"></i> Orders <a
                    href="{% url 'orders:order_create_ppk' product_pk=product.pk %}"><i
                    class="fa fa-plus" style="color: black;"></i></a></h2>
        </div>
    </div>
</div>

<div class="jumbotron {% if product.p_active == False %} hidden-profile {% endif %}">

    {% for order in order_list %}
    <a href="{% url 'orders:order_details' pk=order.id %}">
        <h4>{{order.customer.full_name}}</h4>
    </a>

    {% if forloop.counter < order_list|length %}
    <hr class="my-4">
    {% endif %}
    {% endfor %}
</div>

{% if is_paginated %}
<nav class="custom-pagination {% if product.p_active == False %} hidden-profile {% endif %}" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" style="color: black;">Previous</a>
        </li>
        {% endif %}
        {% for object in page_obj.paginator.page_range %}

        <li class="page-item"><a class="page-link" style="color: black;"
                                 href="{% url 'products:product_details' pk=product.pk %}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" style="color: black;">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}


{% endblock %}